*{
	margin: 0;
	padding: 0;
}
.bg{
	background: url(sky.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: absolute;
	overflow: hidden;
}
.birds img{
	width: 10%;
	right: 10px;
	background-repeat: repeat-x;
	animation: birds 30s linear infinite reverse;
}
@keyframes birds{
	100%{
		transform: translateX(1400px);
	}
}
.road{
	background: url(road.jpg);
	width: 500%;
	height: 180px;
	bottom: 0;
	right: 0;
	position: absolute;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: road 5s linear infinite reverse;
}
@keyframes road{
	100%{
		transform: translateX(3400px);
	}
}
.mountain{
	background: url(mountainz.png);
	width: 500%;
	height: 78vh;
	bottom: 100px;
	right: 0;
	position: absolute;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 20s linear infinite reverse;
}
@keyframes mountain{
	100%{
		transform: translateX(1500px);
	}
}
.cycle{
	width: 400px;
	left: 15%;
	bottom: 40px;
	z-index: 2;
	transform: translate(-50%);
	position: absolute;
}
.cycle img{
	width: 60%;
}